/* Fonts */
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

/* Start global rules */
:root {
    --main-color: #06b2b6;
    --second-main-color: #404040;
    --third-main-color: #a6a6a6;
    --fourth-color: #dddddd;
    --fifth-color: #fff;
    --main-transition-duration: 0.4s;
    --element-block-size: 4rem;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

*::selection {
    background-color: var(--main-color);
    color: var(--fifth-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--fifth-color);
}

.flex-center {
    display: flex;
    align-items: center;
}

.container {
    inline-size: 100%;
    padding-inline: 5rem;
    margin-inline: auto;
}

section .container {
    padding-block: 5em;
}

/* Small */
@media (max-width: 62em) {
    .container {
        padding: 1.25rem;
    }
}

/* End global rules */

/* Start components */
.main-heading {
    text-align: center;
}

.main-heading__title {
    color: var(--second-main-color);
    font-size: 2rem;
    inline-size: fit-content;
    margin: auto;
    text-transform: uppercase;
}

.main-heading__title--cyan {
    color: var(--main-color);
}

.main-heading__subtitle {
    color: var(--second-main-color);
    font-family: 'SourceSansPro';
    font-size: 1rem;
    max-inline-size: 100%;
    margin: 1em auto;
    line-height: 1.5;
}

.main-heading__icon {
    position: relative;
}

.main-heading__icon::after,
.main-heading__icon::before {
    content: '';
    position: absolute;
    block-size: 1px;
    inline-size: 10rem;
    background-color: var(--second-main-color);
    transform: translate(2.5rem, 0.625rem);
}

.main-heading__icon::after {
    inset-inline-start: 0;
}

.main-heading__icon::before {
    inset-inline-end: 5rem;
}

.main-heading__icon i {
    font-weight: 600;
    font-size: 1.2rem;
    margin-block-end: 4em;
    color: var(--main-color);
}

@media (max-width: 48em) {
    .main-heading__title {
        font-size: 1.6rem;
    }

    .main-heading__subtitle {
        inline-size: 100%;
    }

    .main-heading__icon::after,
    .main-heading__icon::before {
        inline-size: 6rem;
    }
}

.page-heading .container {
    color: var(--fifth-color);
    background-image:
        linear-gradient(rgba(166, 166, 166, 0.3), rgba(166, 166, 166, 0.3)),
        url(../images/page-landing_bg.webp);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: top center;
    background-position-y: 0, -120px;
    object-fit: cover;
    block-size: 20rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.page__title {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-block-start: 0;
}

.page__subtitle {
    text-transform: capitalize;
    font-size: 0.6rem;
    font-weight: 400;
}

.page__icon {
    margin-inline: 0.625rem;
}

@media (max-width:62em) {
    .page-heading .container {
        align-items: center;
        background-position: 0;
    }
}

/* End components */

/* Start contacts navbar */
.contacts-nav {
    background-color: var(--fifth-color);
    font-size: 1rem;
}

.contacts-nav .container {
    block-size: 3.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social__icon {
    color: var(--second-main-color);
    margin-inline: 0.625rem;
    transition: var(--main-transition-duration);
}

.social__icon:hover {
    color: var(--main-color);
}

.contacts {
    font-weight: 700;
    color: var(--second-main-color);
}

.contacts .contacts__info:not(:last-child) {
    margin-inline-end: 2rem;
}

.contact__info--phone,
.contact__info--mail {
    font-weight: 400;
    color: var(--third-main-color);
    transition: var(--main-transition-duration);
}

.contact__info--phone:hover,
.contact__info--mail:hover {
    color: var(--main-color);
}

.appoinment-btn {
    background-color: var(--main-color);
    border-radius: 0.5rem;
    color: var(--fifth-color);
    padding: 0.6rem 1.5rem;
    transition: var(--main-transition-duration);
}

.appoinment-btn:hover {
    background-color: var(--fifth-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

@media (max-width: 62em) {
    .contacts-nav {
        display: none;
    }
}

/* End contacts navbar */

/* Start header */
header {
    inline-size: 100%;
    background-color: var(--main-color);
}

header .container {
    max-block-size: 4rem;
    justify-content: space-between;
    position: relative;
}

.logo {
    block-size: var(--element-block-size);
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    justify-content: center;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    inline-size: 1.5625rem;
    block-size: 0.1875rem;
    margin: 0.3125rem auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--fifth-color);
}

.main-nav {
    justify-content: flex-end;
}

.main-nav__item {
    block-size: var(--element-block-size);
    overflow: hidden;
    padding: 0 1rem;
    position: relative;
    transition: var(--main-transition-duration);
}

.main-nav__item::before {
    content: '';
    position: absolute;
    background-color: var(--fifth-color);
    inline-size: 100%;
    block-size: 0.1875rem;
    inset-block-end: 0;
    inset-inline-start: -100%;
    overflow: hidden;
    transition: var(--main-transition-duration);
}

.main-nav__item:hover::before {
    inset-inline-start: 0;
}

.main-nav__link {
    text-transform: capitalize;
    font-size: 0.9375rem;
    transition: var(--main-transition-duration);
    z-index: 2;
}

.main-nav__item:hover .main-nav__link {
    font-weight: 700;
}

.form {
    border-inline-start: 1px solid var(--fifth-color);
    block-size: 1.875rem;
    inline-size: 2.5rem;
    margin-inline-start: 1.25rem;
    position: relative;
}

.form .main-nav__search {
    color: var(--fifth-color);
    font-size: 0.9375rem;
    position: absolute;
    inset-inline-end: 5px;
    inset-block-start: 50%;
    transform: translateY(-50%);
}


@media (max-width: 48em) {
    :root {
        --element-block-size: 3.5rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(0.5rem) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-0.5rem) rotate(-45deg);
    }

    .main-nav__list {
        position: fixed;
        inset-inline-start: -100%;
        inset-block-start: 4rem;
        flex-direction: column;
        background-color: rgba(6, 178, 182, 0.9);
        inline-size: 100%;
        transition: 0.3s;
    }

    .main-nav__list.active {
        inset-inline-start: 0;
        z-index: 2;
    }

    .main-nav__item {
        padding: 15px;
        inline-size: 100%;
    }
}

/* End header */

/* Start index main */

/* Start landing */
.landing .container {
    background: url(../images/Landing_bg.jpg) no-repeat;
    background-size: cover;
    min-block-size: calc(100vh - 9rem);
    color: var(--fifth-color);
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-block-end: 15rem;
}

.landing__title {
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    font-size: 3.125rem;
}

.landing__subtitle {
    font-size: 1.125rem;
    inline-size: 50%;
    margin-block: 0.5em 3em;
    text-align: center;
    line-height: 1.8;
}

.landing__info {
    justify-content: space-between;
}

.landing__btn {
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0.8rem 1.5rem;
    min-inline-size: 10em;
    text-align: center;
    border-radius: 0.3125rem;
    transition: var(--main-transition-duration);
}

.landing__btn:hover {
    transform: scale(110%, 110%);
}

.landing__btn:not(:last-child) {
    margin-inline-end: 1.25rem;
}

.landing__btn--about {
    background-color: var(--fifth-color);
    color: var(--second-main-color);
}

.landing__btn--contact {
    color: var(--fifth-color);
    background-color: var(--main-color);
}

@media (max-width: 48em) {
    .landing .container {
        text-align: center;
        margin-block-end: 29em;
    }

    .landing__title {
        font-size: 2rem;
    }

    .landing__subtitle {
        inline-size: 100%;
        font-size: 0.9375rem;
    }

    .landing__info {
        flex-direction: column;
    }

    .landing__btn:not(:last-child) {
        margin: 0 0 1.25rem;
    }
}

/* Start appoinment form */
.appoinment-form__container {
    background-color: var(--fifth-color);
    box-shadow: 0 0 10px 3px #4040403d;
    flex-direction: column;
    position: absolute;
    inset-block-end: 0;
    transform: translateY(65%);
    inline-size: 60%;
    min-block-size: 16em;
    padding: 3.5rem;
}

.appoinment-form__title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--second-main-color);
    text-transform: uppercase;
    margin-block-end: 2.5rem;
}

.appoinment-form {
    position: relative;
    display: grid;
    inline-size: 100%;
    block-size: auto;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 0.9375rem;
}

.form__input {
    border-radius: 0.3125rem;
    background-color: var(--fourth-color);
    border: none;
    outline: none;
    padding: 0.625rem;
}

.form__input::placeholder,
.form__input option {
    font-size: 0.9375rem;
    font-family: 'Poppins';
    color: var(--second-main-color);
    text-transform: capitalize;
}

.form__btn {
    background-color: var(--main-color);
    border-radius: 0.3125rem;
    border: none;
    color: var(--fifth-color);
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    padding: 0.625rem;
    transition: var(--main-transition-duration);
}

.form__btn:hover {
    background-color: var(--fifth-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

@media (max-width: 55em) {
    .appoinment-form__container {
        inline-size: 100%;
        transform: translateY(100%);
        padding: 2.5rem;
    }
}

@media (min-width: 55em) and (max-width: 85em) {
    .appoinment-form__container {
        transform: translateY(80%);
        inline-size: 68%;
    }
}

/* End appoinment form */

/* Start Model */
.model {
    position: absolute;
    inset: 0;
    block-size: 115vh;
    justify-content: center;
    background-color: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
}

.model__content {
    background-color: var(--main-color);
    border-radius: 0.25rem;
    color: var(--fifth-color);
    flex-direction: column;
    position: relative;
    padding: 2em;
    inline-size: 31.25rem;
    max-inline-size: 90%;
    line-height: 2.5;
}

.model__icon {
    font-size: 3rem;
}

.model__title {
    font-size: 2rem;
}

.model__close-btn {
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    inset-block-start: -1rem;
    inset-inline-end: 1rem;
    color: var(--second-main-color);
}

.model:target {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 48em) {
    .model__icon {
        font-size: 2.5rem;
    }

    .model__title {
        font-size: 1.5rem;
    }

    .model__description {
        font-size: .9rem;
    }
}

/* End Model */

/* End landing */

/* Start departments */
.departments .container {
    flex-direction: column;
    justify-content: center;
}

.departments__content {
    inline-size: 90%;
    margin: auto;
}

.mytabs {
    flex-wrap: wrap;
    justify-content: space-around;
}

.mytabs input[type="radio"] {
    display: none;
}

.mytabs input[type='radio']:checked+label+.tab {
    display: block;
}

.mytabs input[type='radio'],
.tab-content {
    inline-size: 100%;
    justify-content: space-between;
}

.mytabs label {
    box-shadow: 0px 2px 4px 0px #4040403d;
    border-radius: 0.375rem;
    block-size: 6em;
    color: var(--second-main-color);
    cursor: pointer;
    inline-size: 10em;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
    transition: var(--main-transition-duration);
    position: relative;
    order: 0;
}

.mytabs label {
    margin-inline-end: 1.25rem;
    margin-block-end: 1rem;
}

.mytabs input[type="radio"]:checked+label,
.departments label:hover {
    background-color: var(--main-color);
    color: var(--fifth-color);
}

.mytabs input[type="radio"]:checked+label::after,
.departments label:hover::after {
    content: '';
    position: absolute;
    border: 0.625rem solid;
    border-color: #06b2b6 transparent transparent transparent;
    inset-block-end: -1.25rem;
    transition: 0.1s;
}

.tab__icon {
    font-size: 1.5rem;
    margin-block-end: 1.2rem;
}

.tab__name {
    font-weight: 600;
}

.tab {
    order: 1;
    display: none;
}

.tab-content {
    align-items: flex-start;
    justify-content: space-between;
    margin-block: 3em;
}

.content {
    inline-size: 48%;
}

.content__description {
    font-family: 'SourceSansPro';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    margin-block-end: 2rem;
}

.content__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.25rem;
    margin-block-end: 2em;
}

.content__list-item {
    color: var(--second-main-color);
    font-weight: 400;
    font-size: .9rem;
    position: relative;
    margin-inline-start: 1.875rem;
}

.content__list-item::before {
    position: absolute;
    content: '\f058';
    font-family: 'Font Awesome 5 Free';
    font-size: .9rem;
    font-weight: 400;
    color: var(--main-color);
    inset-inline-start: -30px;
}

.content__image-container {
    inline-size: 45%;
    position: relative;
}

.content__image {
    inline-size: 100%;
    object-fit: cover;
    filter: grayscale() brightness(110%);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

@media (max-width:62em) {
    .departments .container {
        padding-inline: 2em;
    }

    .departments__content {
        inline-size: 100%;
        display: flex;
        justify-content: space-between;
    }

    .tab {
        flex-direction: row;
    }

    .mytabs label {
        block-size: 3em;
        inline-size: 8em;
        font-size: .8rem;
    }

    .mytabs label {
        margin-inline-end: 1rem;
    }

    .contents {
        inline-size: 75%;
    }

    .tab-content {
        margin-block: 3em 0;
    }

    .tab__icon,
    .content__image-container {
        display: none;
    }

    .content,
    .content__description {
        inline-size: 100%;
    }

    .content__list {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* End departments */

/* Start our services */

.services .container {
    justify-content: center;
    flex-direction: column;
    background-color: var(--fourth-color);
}

.services__cards {
    inline-size: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem 1.5rem;
}

.service__card {
    background-color: var(--fifth-color);
    box-shadow: 0 0 5px 5px #a6a6a61c;
    flex-direction: column;
    text-align: center;
    padding: 1.875rem;
    border-radius: 5px;
    transition: var(--main-transition-duration) all;
}

.service__card:hover {
    transform: scale(105%);
    box-shadow: 0 0 10px 3px #4040403d;
}

.service__icon-container {
    border: 1px solid var(--main-color);
    border-radius: 0.75rem;
    block-size: 3.75rem;
    inline-size: 3.75rem;
    justify-content: center;
}

.service__card:hover .service__icon-container {
    background-color: var(--main-color);
}

.service__icon {
    color: var(--main-color);
    font-size: 1.5rem;
    padding: 0.9375rem;
}

.service__card:hover .service__icon {
    color: var(--fifth-color);
}

.service__title {
    color: var(--second-main-color);
    font-weight: 600;
    font-size: 1rem;
    text-transform: capitalize;
    margin-block: 1em 0.8em;
}

.service__subtitle {
    color: var(--third-main-color);
    font-family: 'SourceSansPro';
    font-size: .9rem;
    inline-size: 100%;
}

@media (max-width: 65em) {
    .services__cards {
        inline-size: 100%;
        grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
        gap: 1.5rem;
    }

    .service__card {
        padding: 1.6rem;
    }
}

/* End our services */

/* End index main */

/* Start contact main */
.location .container {
    padding-block-end: 0;
}

.map .container {
    padding-inline: 0;
    padding: 0;
}

.contact-form .container {
    justify-content: center;
}

.contact-form__container {
    max-inline-size: 85%;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--fifth-color);
    box-shadow: 0 0 10px 3px #4040403d;
    padding: 3.5rem;
    transform: translateY(-30%);
}

.contact-form__container .form {
    inline-size: 65%;
    block-size: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
}

.contact-form .form__input {
    background-color: var(--fifth-color);
    border: 0.0625rem solid var(--third-main-color);
}

.contact-form .form__input:is(:hover, :focus) {
    border-color: var(--main-color);
}

.contact-form .form__input::placeholder {
    color: var(--third-main-color);
}

.form__textarea {
    grid-column: span 2;
    max-block-size: 13em;
    max-inline-size: 100%;
}

.contact-form__container .contact-info {
    inline-size: 30%;
}

.contact__data {
    align-items: flex-start;
    color: var(--third-main-color);
    margin-block-end: 1rem;
}

.contact__icon {
    color: var(--main-color);
    margin-inline-end: 1rem;
}

@media (max-width: 62em) {
    .contact-form .container {
        padding: 0;
    }

    .contact-form__container {
        inline-size: 100%;
        transform: translateY(0);
        padding: 1.25rem;
        flex-direction: column;
    }

    .contact-form__container .form {
        inline-size: 100%;
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .form__textarea {
        grid-column: auto;
    }

    .contact-form__container .contact-info {
        inline-size: 100%;
        margin-block-start: 2rem;
    }
}

/* End contact main */

/* Start about page */
/* Start about section */

.about .container {
    align-items: flex-start;
    justify-content: space-between;
    padding-block-end: 0;
}

.about__image-container {
    inline-size: 45%;
    max-block-size: 39.5em;
    z-index: -1;
}

.about__image {
    inline-size: 100%;
    max-block-size: 45em;
    object-fit: contain;
}

.about__info {
    inline-size: 50%;
    margin-block-start: 2rem;
}

.about__title {
    color: var(--main-color);
    font-size: 2rem;
}

.about__title--small {
    color: var(--second-main-color);
    font-size: 1.2rem;
}

.about__description {
    color: var(--third-main-color);
    font-size: 1rem;
    inline-size: 75%;
    line-height: 1.6;
    margin-block: 1.5rem;
}

.about__btn {
    background-color: var(--main-color);
    border: 1px solid transparent;
    border-radius: 0.5rem;
    color: var(--fifth-color);
    display: block;
    inline-size: fit-content;
    padding: 0.6rem 1.5rem;
    transition: var(--main-transition-duration);
}

.about__btn:hover {
    background-color: var(--fifth-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.about__opening-hours {
    margin-block-start: 4rem;
}

.about__hours-title {
    color: var(--second-main-color);
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.about__hours-icon {
    font-family: 'FontAwesome';
    margin-inline-end: 1rem;
}

.about__datetime {
    margin-block-start: 1rem;
}

.about__day {
    border-block-end: 1px dashed var(--third-main-color);
    color: var(--second-main-color);
    font-weight: 400;
    flex-wrap: wrap;
    text-transform: capitalize;
    inline-size: 60%;
    justify-content: space-between;
    line-height: 3.5;
}

@media (max-width:65em) {
    .about .container {
        padding-block-end: 5em;
    }

    .about__image-container {
        display: none;
    }

    .about__info {
        inline-size: 100%;
        margin-block-start: 0;
        text-align: center;
    }

    .about__title {
        font-size: 1.6rem;
    }

    .about__description {
        inline-size: 100%;
    }

    .about__btn {
        margin: auto;
    }

    .about__hours-title {
        justify-content: center;
    }

    .about__day {
        inline-size: 100%;
        flex-direction: column;
    }
}

/* End about section */

/* Start statistics section */
.states .container {

    background-image:
        linear-gradient(rgb(6 178 182 / 40%), rgb(6 178 182 / 95%)),
        url(../images/states_bg.jpg);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position-y: 0, -25em;
    justify-content: center;
}

.states-container {
    inline-size: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.125rem;
}

.state__box {
    color: var(--fifth-color);
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    line-height: 1.6;
}

.state__icon {
    font-size: 2rem;
    margin-block-end: 1rem;
}

.state__number {
    font-size: 2.2rem;
    font-weight: 600;
}

.state__description {
    font-size: 0.9375rem;
    font-weight: 400;
    text-transform: uppercase;
}

@media (max-width: 62em) {
    .states .container {
        background-image:
            linear-gradient(rgb(6 178 182 / 40%), rgb(6 178 182 / 95%));
    }


    .states-container {
        grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
        grid-row-gap: 3.125rem;
    }

}

/* End statistics section */

/* Start doctors section */
.doctors__cards {
    inline-size: 90%;
    block-size: 25em;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1.6rem;
}

.doctor-card {
    background-color: var(--fifth-color);
    box-shadow: 0 0 5px 5px #a6a6a61c;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    block-size: 25em;
    transition: var(--main-transition-duration);
}

.doctor-card:hover {
    cursor: pointer;
    block-size: 27em;
    transform: translateY(-1.5em);
}

.doctor-card__image {
    block-size: 15em;
    inline-size: 100%;
    object-fit: cover;
    object-position: 0 0;
    transition: .5s;
}

.doctor-card:hover .doctor-card__image {
    transform: scale(1.1) rotate(-3deg);
}

.doctor-card__body {
    background-color: var(--fifth-color);
    color: var(--second-main-color);
    flex-direction: column;
    text-align: center;
    transition: .5s;
    padding: 2rem 1.5rem;
}

.doctor-card:hover .doctor-card__body {
    background-color: var(--main-color);
    color: var(--fifth-color);
}

.doctor-card__title {
    font-weight: 600;
    text-transform: capitalize;
    position: relative;

}

.doctor-card__title::after {
    content: '';
    position: absolute;
    inline-size: 50%;
    block-size: 0.025rem;
    background-color: var(--second-main-color);
    inset-block-start: 1.8rem;
    inset-inline-start: 0;
    transform: translateX(50%);
}

.doctor-card:hover .doctor-card__title::after {
    background-color: var(--fifth-color);
}

.doctor-card__description {
    font: 1rem 400;
    line-height: 1.6;
    margin-block-start: 1.5rem;
}

.doctor-card__description--bold {
    font-weight: 600;
}

.doctor-card__work-time {
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: capitalize;
    inline-size: 100%;
    justify-content: space-between;
    margin-block-start: 1.5rem;
    display: none;
}

.doctor-card:hover .doctor-card__work-time {
    display: flex;
}

.doctor-card__icon {
    font-weight: 400;
    margin-inline-end: 0.3125rem;
}

@media (max-width: 75em) {
    .doctors__cards {
        inline-size: 100%;
        block-size: auto;
        grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
    }

    .doctor-card {
        max-block-size: 27em;
    }

    .doctor-card:hover {
        cursor: pointer;
        height: fit-content;
        transform: translateY(0);
    }

    .doctor-card__body {
        padding: 1rem;
    }

    .doctor-card__work-time {
        font-size: .8rem;
    }
}

/* End doctors section */

/* Start feedback section */
.patients-feedback .container {
    background: url(../images/feedback_bg.jpg) no-repeat;
    background-size: cover;
    inline-size: 100%;
}

.slider {
    margin: 0 auto;
    inline-size: 50rem;
    max-inline-size: 100%;
}

.slider input[type=radio] {
    display: none;
}

.slider label {
    cursor: pointer;
    text-decoration: none;
}

.slides {
    padding: 0.625rem;
    position: relative;
    z-index: 1;
}

.overflow {
    inline-size: 100%;
    overflow: hidden;
}

#slide1:checked~.slides .inner {
    margin-inline-start: 0;
}

#slide2:checked~.slides .inner {
    margin-inline-start: -100%;
}

#slide3:checked~.slides .inner {
    margin-inline-start: -200%;
}

#slide4:checked~.slides .inner {
    margin-inline-start: -300%;
}

.slides .inner {
    transition: margin-inline-start 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    inline-size: 400%;
    block-size: 18.75rem;
}

.slides .slide {
    inline-size: 25%;
    float: left;
    justify-content: center;
}

.slide__content {
    flex-direction: column;
    justify-content: center;
}

.slide__feedback {
    color: var(--second-main-color);
    font-family: 'SourceSansPro';
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.6;
    margin-block-end: 1.5rem;
}

.slide__person-name {
    color: var(--main-color);
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: capitalize;
}

.slide__person-postion {
    color: var(--third-main-color);
    text-transform: capitalize;
    margin-block: 0.5rem 1.5rem;
}

.slide__person-image {
    border: 0.1875rem solid var(--main-color);
    border-radius: 50%;
    inline-size: 7rem;
    padding: 0.2rem;
}

.controls {
    margin: -9.375rem 0 0 0;
    inline-size: 100%;
    block-size: 3.125rem;
    z-index: 3;
    position: relative;
}

.controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    inline-size: 3.125rem;
    block-size: 3.125rem;
    opacity: .4;
}

.controls label:hover {
    opacity: 1;
}

#slide1:checked~.controls label:nth-child(2),
#slide2:checked~.controls label:nth-child(3),
#slide3:checked~.controls label:nth-child(4),
#slide4:checked~.controls label:nth-child(1) {
    background: url(../images/feedback_right-arrow.png) no-repeat;
    float: right;
    margin: 0 -3.125rem 0 0;
    display: block;
}

#slide1:checked~.controls label:nth-child(4),
#slide2:checked~.controls label:nth-child(1),
#slide3:checked~.controls label:nth-child(2),
#slide4:checked~.controls label:nth-child(3) {
    background: url(../images/feedback_left-arrow.png) no-repeat;
    float: left;
    margin: 0 0 0 -1rem;
    display: block;
}

.bullets {
    margin: 9.375rem 0 0;
    text-align: center;
}

.bullets label {
    display: inline-block;
    inline-size: 0.625rem;
    block-size: 0.625rem;
    border-radius: 100%;
    background-color: #ccc;
    margin: 0 .625rem;
}

#slide1:checked~.bullets label:nth-child(1),
#slide2:checked~.bullets label:nth-child(2),
#slide3:checked~.bullets label:nth-child(3),
#slide4:checked~.bullets label:nth-child(4) {
    background-color: var(--second-main-color);
}

@media (max-width:60em) {

    #slide1:checked~.controls label:nth-child(2),
    #slide2:checked~.controls label:nth-child(3),
    #slide3:checked~.controls label:nth-child(4),
    #slide4:checked~.controls label:nth-child(1),
    #slide1:checked~.controls label:nth-child(4),
    #slide2:checked~.controls label:nth-child(1),
    #slide3:checked~.controls label:nth-child(2),
    #slide4:checked~.controls label:nth-child(3) {
        margin: -1rem;
    }

}

/* End feedback section */

/* End about page */


/* Start departments page */

/* Start FAQ & appoinmentg section */

.accordion-appoinment .container {
    inline-size: 90%;
    margin: auto;
    padding-block-start: 0;
    justify-content: space-between;
}

.accordion {
    inline-size: 50%;
}

.accordion,
.accordion-appoinment .appoinment-form__container {
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.accordion__title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--second-main-color);
    text-transform: uppercase;
    margin-block-end: 2.5rem;
}

.accordion__item:not(:last-child) {
    margin-block-end: 1rem;

}

.accordion__link {
    color: var(--fifth-color);
    background-color: var(--main-color);
    border-radius: 0.3125rem;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.3rem .8rem;
    justify-content: space-between;
}

.accordion__icons {
    padding: .5rem;
}

.accordion__icon--remove {
    display: none;
}

.accordion__answer {
    background-color: var(--fifth-color);
    box-shadow: 0 0 5px 5px #a6a6a61c;
    max-block-size: 0;
    overflow: hidden;
    transition: max-block-size 650ms;
}

.accordion__answer p {
    color: var(--second-main-color);
    font-family: 'SourceSansPro';
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.5;
    padding: 0.6rem;
}

.accordion__item:target .accordion__answer {
    max-block-size: 20rem;
}

.accordion__item:target .accordion__icon--add {
    display: none;
}

.accordion__item:target .accordion__icon--remove {
    display: block;
}

.accordion__item:target .accordion__link {
    border-radius: 0.3125rem 0.3125rem 0 0;
}

.accordion-appoinment .appoinment-form__container {
    background-color: var(--fifth-color);
    box-shadow: none;
    flex-direction: column;
    position: inherit;
    inset-block-end: inherit;
    transform: translateY(0);
    inline-size: 40%;
    min-block-size: inherit;
    padding: 0;
}

@media (max-width: 62em) {
    .accordion-appoinment .container {
        inline-size: 100%;
        flex-direction: column;
    }

    .accordion,
    .accordion-appoinment .appoinment-form__container {
        inline-size: 100%;
    }

    .accordion {
        margin-block-end: 4rem;
    }

    .accordion__title,
    .accordion-appoinment .appoinment-form__title {
        text-align: center;
        font-size: 1.4rem;
        inline-size: 100%;
        margin-block-end: 1.5rem;
    }
}

/* End FAQ & appoinmentg section */

/* End departments page */

/* Start footer */
.footer .container {
    background-image:
        linear-gradient(#06b2b6, rgba(6, 178, 182, 0.7)),
        url(../images/footer_bg.png);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    min-block-size: 26em;
    color: var(--fifth-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    column-gap: 50px;
    padding-block: 2rem;
}

.footer__title {
    margin-block: 2em 1.8em;
    font-family: 'SourceSansPro';
    font-weight: 600;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
}

.footer__description {
    font-family: 'SourceSansPro';
    font-size: 1.15rem;
    line-height: 1.6;
    margin-block-end: 1.8em;
    max-inline-size: 85%;
}

.footer__icon {
    margin-inline-end: 0.75rem;
}

.footer__locatin-info {
    margin-block-end: 1em;
}

.navigation__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 1.25rem;
}

.main-nav__item {
    text-transform: capitalize;
    transition: transform 0.4s ease-in-out;
}

.navigation__item:hover {
    transform: translateX(0.75rem);
    transition: transform 0.4s ease-in-out;
    font-weight: 600;
}

.navigation__link {
    font-family: 'SourceSansPro';
    letter-spacing: 0.0625rem;
    font-size: 1.15rem;
}

.footer__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem 1.25rem;
}

.footer__img {
    inline-size: 100%;
    object-fit: contain;
}

.copywrite {
    block-size: 3em;
    background-color: var(--main-color);
    color: var(--fifth-color);
    font-family: 'SourceSansPro';
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
}

@media (max-width:72em) {
    .footer .container {
        grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    }

    .footer__description {
        inline-size: 100%;
    }

    .navigation__list {
        grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    }

    .footer__images {
        grid-template-columns: repeat(auto-fill, minmax(4em, 1fr));
    }
}

/* End footer */