/* Fonts */
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

/* Start global rules */
:root {
    --main-color: #06b2b6;
    --second-main-color: #404040;
    --third-main-color: #a6a6a6;
    --fourth-color: #dddddd;
    --fifth-color: #fff;
    --main-transition-duration: 0.4s;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex-center {
    display: flex;
    align-items: center;
}

.container {
    padding-inline: 0.9375rem;
    margin-inline: auto;
}

/* Small */
@media (min-width: 48em) {
    .container {
        inline-size: 46.875em;
    }
}

/* Medium */
@media (min-width: 62em) {
    .container {
        inline-size: 60.625em;
    }
}

/* Large */
@media (min-width: 75em) {
    .container {
        inline-size: 73.125em;
    }
}

/* End global rules */

/* Start contacts navbar */
.contacts-nav {
    block-size: 4em;
    background-color: var(--fifth-color);
    font-size: 0.9375rem;
}

.contacts-nav .container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.social__icon {
    color: var(--second-main-color);
    margin-inline: 0.625rem;
    transition: var(--main-transition-duration);
}

.social__icon:hover {
    color: var(--main-color);
}

.contacts {
    font-weight: 700;
    color: var(--second-main-color);
}

.contacts .contacts__info:not(:last-child) {
    margin-inline-end: 2rem;
}

.contact__info--phone,
.contact__info--mail {
    font-weight: 400;
    color: var(--third-main-color);
    transition: var(--main-transition-duration);
}

.contact__info--phone:hover,
.contact__info--mail:hover {
    color: var(--main-color);
}

.appoinment-btn {
    background-color: var(--main-color);
    border-radius: 0.5rem;
    color: var(--fifth-color);
    padding: 0.5rem 1.25rem;
    transition: var(--main-transition-duration);
}

.appoinment-btn:hover {
    background-color: var(--fifth-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

@media (max-width: 62em) {
    .contacts-nav {
        display: none;
    }
}

/* End contacts navbar */